*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:#f0f3f6;
    overflow: hidden;
}

.nav-bar{
    background-color:#ffffff;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    border: 1px solid rgba(125, 125, 125, 0.473);
}

.nav-left{
    display: flex;
    position: relative;
    flex-direction: column;
}

.nav-right{
    margin-left: auto;
    display: flex;
    gap: 20px;
    position: relative;

}

.nav-right button{
    padding: 5px;
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 2vh;
    border: none;
    cursor: pointer;
}

.nav-right #add-btn{
    background-color: #5CB338;
    color: #ffffff;
    font-weight: 600;
}

.nav-right #export-btn{
    background-color: rgb(183, 113, 38);
    color: #ffffff;
    font-weight: 600;
}

.container{
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    border-radius: 15px;
    border: 1px solid rgba(125, 125, 125, 0.473);
}

.top-container{
    background-color:#ffffff;
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 15px 15px 0 0;
    align-items: center;
}

.top-container h1{
    padding: 15px;
    font-size: 25px;
}

.search-container{
    background-color:#f0f3f6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 5px;
    width: 30%;
    height: fit-content;
    gap: 8px;
}

#search-icon{
    margin: auto;
    font-size: 4vh;
}

.search-container p{
    font-size: 30px;
    position: relative;
    top: -3px;
}

#search{
    margin: auto;
    padding: 0;
    background-color:#f0f3f6;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    outline: none;
}

.sort-container{
    display:flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

#sort-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#sort-btn i{
    font-size: 20px;
}

#sort{
    border-color: #f0f3f6;
    cursor: pointer;
    padding: 6px;
}
#sort option{
    cursor: pointer;
}

.table-container{
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px;
    overflow:auto;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    text-align: left;
    padding-bottom: 50px;
    top: -30px;
    position: relative;
}


th, td {
    padding: 8px; 
}

th {
    background-color:#ffffff;
    height: 60px;
    font-weight: bolder;
    
}
#head{
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  
}

thead{

    position: sticky;
    top: -20px;
    z-index: 1;
}

tr{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

tr:hover{
    transform: translateY(-2px);
}


tr:nth-child(even) {
    background-color:#f0f3f6; 
}

#id-head{
    width: 75px;
}

#patient-head{
    width: 40vh;
}
.patient{
    display: flex;
    flex-direction: row;
}

.patient img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
}

.patient-name{
    flex-direction: column;
    padding: 5px;
    text-align: left;
}

.patient-name h2{
    font-size: 2vh;
}

.patient-name p{
    font-size: 1.5vh;
}

.action{
    text-align: center;
}

.action button{
    border: none;
    cursor: pointer;
    padding-right: 10px;
    background-color: transparent;
}

#edit{
    color: rgb(53, 234, 53);
}

#delete{
    color: red;
}

#view{
    color: black;
    padding-right: 0;
}

#action-head{
    text-align: center;
}


#date-head, #time-head, #status-head, #procedure-head, #datesubmit-head{
    text-align: center;
    width: 140px;
}

#date, #time, #procedure, #status, #submitdate{
    text-align: center;
}

#procedure p{
    background-color: rgb(144, 224, 232);
    padding: 5px;
    border-radius: 10px;
    color: rgb(1, 68, 84);
}

#status p{
    padding: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.BOOKED-status p {
    background-color: #28a745; 
    color: #ffffff; 
}

.RESCHEDULE-status p {
    background-color: #ffc107;
    color: #ffffff; 
}

.CANCELLED-status p {
    background-color: #dc3545; 
    color: #ffffff; 
}

.COMPLETE-status p {
    background-color: #17a2b8; 
    color: #ffffff; 
}


.status-container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.status-container button{
    padding: 15px;
    width: 200px;
    height: 11vh;
    border-radius: 10px;
    border: 0.5px solid;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    border-left: 5px solid ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-container button div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.status-container button span{
    font-size:x-large;
    font-weight: bolder;
}

.status-container button i{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50px;
}

.status-container button:hover{
    border-left: 5px solid;
}

#book-status{
    color: rgb(131, 198, 64);
    background-color: #dcefc8;
}

#book-status:hover{
    background-color:  rgb(131, 198, 64);
    color: black;    border: none;
    border: none;
    border-left: 5px solid   rgb(131, 198, 64);
}


#complete-status{
    color:  rgb(96, 96, 194);
    background-color:  #ceceec;
}
#complete-status:hover{
    background-color: rgb(96, 96, 194);
    color: black;
    border: none;
    border-left: 5px solid  rgb(96, 96, 194);

}

#cancel-status{
    color:  rgb(207, 69, 69);
    background-color:  #f4d4d4;
}
#cancel-status:hover{
    background-color: rgb(207, 69, 69);
    color: black;
    border: none;
    border-left: 5px solid rgb(207, 69, 69);
}

#resched-status{
    color: rgb(183, 183, 82);
    background-color:  #ececd0;
}

#resched-status:hover{
    background-color: rgb(183, 183, 82);
    color: black;
    border: none;
    border-left: 5px solid rgb(183, 183, 82);
}